#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



body{
  text-align: center;
}
.container {
  height: 50vh;
  width: 130vh;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  display: flex;
}
.from{
  margin: 6px;
  height: 20vh;
  width: 80vh;
  background-color: rgba(85, 151, 250, 0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.to{
  margin: 6px;
  height: 20vh;
  width: 80vh;
  background-color: rgba(85, 151, 250, 0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.from_input{
  height: 3vh;
  width: 40vh;
  margin: 20px;
  border-radius: 7px;
}
.to_input{
  height: 3vh;
  width: 40vh;
  margin: 20px;
  border-radius: 7px;
}
#cars_from{
  margin-right: 10px;
  border-radius: 4px;
}
#cars_to{
  margin-right: 10px;
  border-radius: 4px;
}